### Pandas读取数据
1.pandas 读取纯文本文件  
2.pandas 读取Excel文件  
3.pandas 读取mysql文件

#### 读取csv文件

In [21]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 读取csv文件
fpath = './pandas_demo/data/movies/ratings.csv'

In [3]:
# 使用pd.read_csv读取文件
ratings = pd.read_csv(fpath)

In [4]:
# 查看前几行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
# 查看数据的形状，返回行数，列数
ratings.shape

(100836, 4)

In [6]:
# 查看列名列表
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
# 查看索引列
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [8]:
# 查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

#### 读取txt文件，自己指定分隔符和列名

In [9]:
fpath = './pandas_demo/data/crazyant/pvuv.txt'

In [10]:
pvuv = pd.read_csv(fpath, sep='\t', header=None, names=['pdate', 'pv', 'uv'])

In [11]:
pvuv

        pdate     pv   uv
0    2019/7/1   1000   10
1    2019/7/2   2000   20
2    2019/7/3   3000   30
3    2019/7/4   4000   40
4    2019/7/5   5000   50
5    2019/7/6   6000   60
6    2019/7/7   7000   70
7    2019/7/8   8000   80
8    2019/7/9   9000   90
9   2019/7/10  10000  100
10  2019/7/11  11000  110
11  2019/7/12  12000  120
12  2019/7/13  13000  130
13  2019/7/14  14000  140
14  2019/7/15  15000  150

### 读取Excel文件

In [12]:
fpath = './pandas_demo/data/crazyant/pvuv.xlsx'
pvuv = pd.read_excel(fpath)

In [13]:
pvuv

           日期     PV   UV
0  2019-07-01   1000   10
1  2019-07-02   2000   20
2  2019-07-03   3000   30
3  2019-07-04   4000   40
4  2019-07-05   5000   50
5  2019-07-06   6000   60
6  2019-07-07   7000   70
7  2019-07-08   8000   80
8  2019-07-09   9000   90
9  2019-07-10  10000  100
10 2019-07-11  11000  110
11 2019-07-12  12000  120
12 2019-07-13  13000  130
13 2019-07-14  14000  140
14 2019-07-15  15000  150

In [17]:
import pymysql
conn = pymysql.connect(host="127.0.0.1",
                      user='root',
                      password='1234',
                      database='python_mysql',
                      charset='utf8')

In [22]:
mysql_page = pd.read_sql("select * from pvuv", con=conn)

In [23]:
mysql_page

      pdate   pv  uv
0  20190801  100  81
1  20190802  110  99
2  20190803  120  77
3  20190804  130  88
4  20190805  120  97
5  20190806  110  98